<Project>
  <PropertyGroup>
    <!-- for mac use sth like this -->
    <SilksongFolder>/Users/<user>/Library/Application Support/Steam/steamapps/common/Hollow Knight Silksong</SilksongFolder>
    <!-- If you use a mod manager rather than manually installing BepInEx, this should be a profile directory for that mod manager. -->
    <SilksongPluginsFolder>$(SilksongFolder)/BepInEx/plugins</SilksongPluginsFolder>
  </PropertyGroup>
</Project>
